<body>
{% include "include/nav.html" %}

<div id="profile-container" class="container">
	<div class="card">
		<div class="card-block card-text">
		<h3> Teammates:
			<br>
			<br>

		<div>
			<div class="row" >
			{% for teammate in teammates %}
			<div class = "column" style="float:left; width:25%;">
				<img src=https://profiles.csh.rit.edu/image/{{teammate.username}} class="img-circle" width="60" height="60" style="display:block; margin-left: auto; margin-right:auto;">
				<br>
			<div style="text-align:center">
				{{teammate.username}}
			</div>
			</div>
			{% endfor %}     
			</div>	
	
		</div>
		<br>
		<div>
			Applications: 
			<br>
			<div class = "row">	
			{% for person in applications %}


	<div class="applications column" style="width:auto;">
			<a href="/application/{{person.id}}">
			{{ person.id }}
			</a>
			</div>
			<br>
			{% endfor %}
			</div>
		
		</div>
		<br>
		</div>
		</h3>
	</div>
</div>


		{% if "eboard-evaluations" in info.member_info.group_list %}
<div id="profile-container" class="container">
        <div class="card">
                <div class="card-block card-text">

		<h3>
		
		<div>
			All Users : <br>
			<div class="row" >
                        {% for user in allUsers %}
                        <div class = "column" style="float:left; width:25%;">
                                <img src=https://profiles.csh.rit.edu/image/{{user.username}} class="img-circle" width="60" height="60" style="display:block; margin-left: auto; margin-right:auto;">
                                <br>
                        <div style="text-align:center">
                                {{user.username}}
                        </div>
                        </div>
                        {% endfor %}     
                        </div>  


	<br>
		<div>
			{% for application in allApplications %}
			{{application.id}}
			{% endfor %}
		</br>
		</div>
</div>
</div>
		{% endif %}
{% include "include/footer.html" %}
{% include "include/scripts.html" %}
</body>
