<body>
{%include "include/nav.html" %}

<div class="container">
    <div class="card">
        <div class="card-block card-text">
            <h3>
                Teammates:
                <br>
                <br>
                <div>
                    <div class="row">
                        {% for teammate in teammates %}
                        <div class="column" style="float:left; width:25%;">
                            <img src=https://profiles.csh.rit.edu/image/{{teammate.username}} class="img-circle"
                                 width="60" height="60" style="display:block; margin-left: auto; margin-right:auto;">
                            <br>
                            <div style="text-align:center">
                                {{teammate.username}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <br>
                <div>


                    Applications:
                    <br>
	    <br>

	    </h3>{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
   {% endwith %}<h3>

                    <div class="row">
                        {% for person in applications %}
                        <div class="applications column" style="width:auto;">
                            <a href="/application/{{person.id}}" style="color:white">
                                {{ person.id }}
                            </a>
                        </div>
                        <br>
                        {% endfor %}
                    </div>

                    <script type="text/javascript">
                        $(window).on('load', (function () {

                            function get_random_color() {
                                var letters = '0123456789ABCDEF'.split('');
                                var color = '#';
                                for (var i = 0; i < 6; i++) {
                                    color += letters[Math.round(Math.random() * 12)];
                                }
                                return color;
                            }

                            $(function () {
                                $(".applications").each(function () {
                                    $(this).css("background-color", get_random_color());
                                });
                            });


                        }));
                    </script>
                </div>
            </h3>
                <br>
        </div>
    </div>
</div>


{% if "eboard-evaluations" in info.member_info.group_list %}
<div class="container">
    <div class="card">
        <div class="card-block card-text">

            <h3>

                <div>
                    All Users : <br>
                    <div class="row">
                        {% for user in allUsers %}
                        <div class="column" style="float:left; width:25%;">
                            <img src=https://profiles.csh.rit.edu/image/{{user.username}} class="img-circle" width="60"
                                 height="60" style="display:block; margin-left: auto; margin-right:auto;">
                            <br>
                            <div style="text-align:center">
                                {{user.username}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                    <br>
                    <div>
                        <div class = "row">
                        {% for person in allApplications %}
                        <div class="applications column" style="width:auto;">
                            <a href="/applicationReview/{{person.id}}" style="color:white">
                                {{ person.id }}
                            </a>
                        </div>
                        <br>
                        {% endfor %}
                        </div>
                    </div>
            </h3>
                    <script type="text/javascript">
                        $(window).on('load', (function () {

                            function get_random_color() {
                                var letters = '0123456789ABCDEF'.split('');
                                var color = '#';
                                for (var i = 0; i < 6; i++) {
                                    color += letters[Math.round(Math.random() * 12)];
                                }
                                return color;
                            }

                            $(function () {
                                $(".applications").each(function () {
                                    $(this).css("background-color", get_random_color());
                                });
                            });


                        }));
                    </script>
                <br>
            </div>
    </div>
</div>
{% endif %}
{% include "include/footer.html" %}
{% include "include/scripts.html" %}
</body>
