<body>
{% include "include/nav.html" %}
<div class="container">
  <div class="row">
    <div class="col-9">
	<div id="profile-container" class="container">
        	<div class="card">
                	<div class="card-block card-text">
				{{application.id}}
		   		{{application.Application}}
                	</div>
		</div>
	</div>
    </div>
	<div class="col">
		<div id = "profile-container" class = "container">
			<div class = "card">	
				<div class = "card-block card-text">
					<form action ="/submit/{{application.id}}/{{info.uid}}" method="post">
					<h5>
					<br>
				Social
				<input type="text" class="form-control" placeholder="rating" name="Social"></input>	
				<br><br>Technical 
				<input type="text" class="form-control" placeholder="rating" name="Technical"></input>   
				<br><br>Creativity
				<input type="text" class="form-control" placeholder="rating" name="Creativity"></input>   
				<br><br>Activity Level
				<input type="text" class="form-control" placeholder="rating" name="Activity_Level"></input>   
				<br><br>Versatility
				<input type="text" class="form-control" placeholder="rating" name="Versatility"></input>   
				<br><br>Leadership
				<input type="text" class="form-control" placeholder="rating" name="Leadership"></input>   
				<br><br>Motivation
				<input type="text" class="form-control" placeholder="rating" name="Motivation"></input>   
				<br><br>Overall Feeling
				<input type="text" class="form-control" placeholder="rating" name="Overall_Feeling"></input>   

				
					</h5>
				</div>
			</div>
		</div>
	</div>
  </div>
  <div style="text-align:center;" >
	<input type="submit" class="btn btn-primary" value="Submit">
  </div>
					</form>
</body>
