{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Add Application</h3>
                <form action="/application" method="post" id="evals-create-application">
                    <input type="text" class="form-control" placeholder="Application ID" name="id"></input> <br>
                    <textarea class="form-control" placeholder="Application Text" name="application"
                              rows="10"></textarea>
                    <br>
                    <input type="text" class="form-control" placeholder="Team" name="team"></input>
                    <select class="custom-select" name="gender" form="evals-create-application" style="margin-top:20px">
                        <option value="" selected disabled hidden>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <div style="text-align:center; padding-top: 30px;">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Import Applications</h3>
                <form action="/application/import" method="post" enctype="multipart/form-data" id="evals-import-application">
                    <input name="file" type="file" form="evals-import-application" accept=".doc,.docx">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="auto" name="auto">
                        <label class="form-check-label" for="auto">Automatically assign applications to current groups.</label>
                    </div>
                    <div style="text-align:center; padding-top: 30px;">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
