{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Add Application</h3>
                <form action="/application" method="post" enctype="multipart/form-data" id="evals-create-application">
                    <input type="text" class="form-control" placeholder="Application ID" name="rit_id"></input> <br>
                    <textarea class="form-control" placeholder="Application Text" name="application"
                              rows="10"></textarea>
                    <br>
                    <input type="text" class="form-control" placeholder="Team" name="team"></input>
                    <input name="file" type="file" form="evals-create-application" accept=".pdf">
                    <div style="text-align:center; padding-top: 30px;">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Import Applications</h3>
                <form action="/application/import" method="post" enctype="multipart/form-data" id="evals-import-application">
                    <input name="file" type="file" form="evals-import-application" accept=".doc,.docx">
                    <div style="text-align:center; padding-top: 30px;">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
