{{ template "header.tmpl" . }}
<h1 xmlns="http://www.w3.org/1999/html">Applications</h1>
<h2>Assign Applications to Teams</h2>
<span>There are currently {{ len .Teams }} teams to assign to:</span>
<table class="table" id="team-assignments">
  <thead>
  <tr>
    <th class="text-center">Team ID</th>
    <th class="text-center">Assigned Application ID</th>
    <th class="text-center">Assign Application</th>
  </tr>
  </thead>
  <tbody>
  {{ range .Teams }}
    <tr>
      <td class="align-middle text-center text-nowrap font-monospace">{{ .ID }}</td>
      <td class="text-center align-middle text-nowrap">
          {{ if not (eq .ApplicationID $.NilUUID) }}
            <span class="font-monospace">{{ .ApplicationID }}</span>{{ else }}
            <strong>UNASSIGNED</strong>
          {{ end }}
      </td>
      <td>
        <form action="/team/{{ .ID }}/assign" method="POST" onsubmit="formSubmit(event)">
          <select required name="applicationID">
            <option disabled selected>Assign Application</option>
              {{ range $.Applications }}
                  {{ if not .Assigned }}
                    <option value="{{.ID}}">{{.ID}}</option>
                  {{ end }}
              {{ end }}
          </select>
          <button class="btn btn-success d-none" type="submit">Apply</button>
        </form>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
<span>Note: the "Apply" button will not automatically update the page - press ALL "Apply" buttons, and then reload the page to see your changes.</span>
<h2 class="mt-5">Uploaded Applications</h2>
<span>There are currently {{ len .Applications }} applications.</span>
<table class="table" id="applications">
  <thead>
  <tr>
    <th class="text-center">Application ID</th>
    <th class="text-center"> Score</th>
    <th class="text-center">Delete</th>
  </tr>
  </thead>
  <tbody>
  {{ range .Applications }}
    <tr>
      <td class="align-middle text-center text-nowrap font-monospace">
        <a href="{{.PresignedURL}}" target="_blank">{{.ID}}</a>
      </td>
      <td class="align-middle text-center text-nowrap">
          {{ appScore .ID }}
      </td>
      <td class="align-middle text-center text-nowrap">
        <button type="submit" class="d-inline btn btn-danger col-auto"
                onclick="fetch('/application/{{.ID}}', {method: 'DELETE'}); location.reload()">Delete
        </button>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
<h2 class="mt-5">Upload New Application</h2>
<form class="col-lg-6 gx-3" action="/application/upload" method="POST" enctype="multipart/form-data"
      onsubmit="formSubmit(event)">
  <label for="applicationFile" class="form-label">Select application for upload</label>
  <input class="form-control" type="file" name="applicationFile" id="applicationFile" accept="application/pdf" required>
  <button type="submit" class="mt-2 btn btn-primary">Upload</button>
</form>
<h2 id="export-data" class="mt-5">Export Scoring Data</h2>
<a href="/application/export" class="mt-2 btn btn-primary" style="width: fit-content" role="button">Export</a>
<script>
    let forms = document.querySelectorAll('#team-assignments > tbody > tr > td:nth-child(3) > form')
    console.log(forms)
    forms.forEach(function (form) {
        form.firstElementChild.addEventListener('change', event => {
            event.target.nextElementSibling.classList.remove("d-none")
            event.target.firstElementChild.remove()
        })
    })
</script>
{{ template "footer.tmpl" . }}