{{ define "footer.tmpl" }}
</main>
<script src="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.8/dist/js/color-modes.js"></script>
<script src="https://assets.csh.rit.edu/csh-material-bootstrap/5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{{ end }}