{{ template "header.tmpl" . }}
<h1>This Selections session is <strong>{{ if .SessionState }}ACTIVE{{ else }}INACTIVE{{ end }}</strong>.</h1>
{{ if not .SessionState }}
    <h2>You're {{ if not .IsAttending }}<strong>not</strong> {{ end }}in this Selections session.</h2>
{{ end }}
<div class="container">
    <div class="row">
        Your team is:
    </div>
    <div class="row row-cols-4-lg row-cols-2-md row-cols-1-xs">
        <div class="col">
            <span>Team Member</span>
        </div>
        <div class="col">
            <span>Team Member</span>
        </div>
        <div class="col">
            <span>Team Member</span>
        </div>
        <div class="col">
            <span>Team Member</span>
        </div>
    </div>
</div>
{{ template "footer.tmpl" . }}