{{ template "header.tmpl" . }}
<h1>This Selections session is <strong>{{ if .SessionState }}ACTIVE{{ else }}INACTIVE{{ end }}</strong>.</h1>
{{ if not .SessionState }}
  <h2>You're {{ if not .IsAttending }}<strong>not</strong> {{ end }}in this Selections session.</h2>
{{ end }}
{{ if not (eq .Team.ID 0) }}
  <div class="card my-2">
    <div class="card-body">
      <h4 class="card-title">Team {{.Team.ID}}</h4>
      <div class="row">
          {{ range .Team.Members }}
            <div class="col-4 col-md-2">
              <img src="https://profiles.csh.rit.edu/image/{{ .Username }}" class="rounded-circle"
                   width="60" height="60" style="display:block; margin: 20px auto 0;">
              <div style="text-align:center">
                  {{ .Username }}
              </div>
            </div>
          {{ end }}
      </div>
    </div>
  </div>
  {{ if .SessionState }}
      {{ if .Rated }}
        <h5>You already rated this application. Please wait until your team is ready to be assigned a new
          application.</h5>
      {{ else if eq .TeamApplication.ID 0 }}
        <h5>Your team does not yet have an application. Please refresh or talk to the advisor.</h5>
      {{ else }}
        <div class="my-2 g-2 review-container d-flex flex-wrap container-lg flex-grow-1">
          <object class="d-block flex-item mx-2 flex-grow-1"
                  data=
                  "/application/{{ .TeamApplication.ID }}">
          </object>
          <div class="card m-2 flex-item criteria">
            <div class="card-body flex-grow-0">
              <h5 class="card-title">Selections Rubric</h5>
              <form action="/application/{{ .TeamApplication.ID }}/rate" method="POST" id="application-rubric"
                    onsubmit="checkRubric(event)">
                <table class="table table-striped mb-0">
                  <thead>
                  <tr>
                    <th scope="col">Criterion</th>
                    <th scope="col">Range</th>
                    <th scope="col">Score</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{ range .Criteria }}
                    <tr>
                      <th class="align-middle" scope="row">{{ .Name }}</th>
                      <td class="d-flex gap-2"><span>{{ .MinScore }}</span>
                        <input value="{{ .MinScore }}"
                               min="{{ .MinScore }}"
                               max="{{ .MaxScore }}" type="range"
                               name="{{ .Name }}"
                               class="form-range"
                               style="font-size: 13px;"
                               form="application-rubric"
                               required>
                        <span>{{ .MaxScore }}</span></td>
                      <td>
                        <span class="text-center d-inline-block w-100">{{ .MinScore }}</span>
                      </td>
                    </tr>

                  {{ end }}
                  </tbody>
                </table>
                <div class="mt-2 mb-3">
                  <strong>Total: </strong><span id="score"></span>
                </div>
                <button type="submit" class="btn btn-primary" form="application-rubric">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <script>
            const totalScore = document.querySelector('#score')
            const ranges = document.querySelectorAll('input[type=range]')
            const weights = {
            {{ range .Criteria }}
                "{{.Name}}": {{.Weight}},
              {{ end }}
            }
            ranges.forEach(function (range) {
                range.addEventListener('input', function (event) {
                    updateValue(event.target)
                })
                updateValue(range)
            })



            function updateValue(target) {
                //go up to the parent td, then get the td under it, then get the span, and set the value
                target.parentElement.nextElementSibling.firstElementChild.textContent = target.value;
                let d = new FormData(target.form)
                let total = 0
                for (const [key, value] of d.entries()) {
                    total += Number(value) * weights[key]
                }
                totalScore.innerText = total;
            }

            let warn = false

            function checkRubric(event) {
                let d = new FormData(event.target)
                for (const [_, value] of d.entries()) {
                    if (parseInt(value) === 0 && !warn) {
                        alert("At least one of your values are 0. Please double check your scores were intentional. " +
                            "If you are sure, you can resubmit as-is.")
                        warn = true
                        event.preventDefault()
                        return
                    }
                }
                formSubmit(event)
            }
        </script>
      {{ end }}
  {{ end }}
{{ end }}
{{ template "footer.tmpl" . }}