{{ template "header.tmpl" . }}
<h1>Selections is currently <strong>{{ if .SessionState }}ACTIVE{{ else }}INACTIVE{{ end }}</strong>.</h1>
<form id="stateForm" method="post" action="/session/manage" onsubmit="dummyFunc(event)">
  <input name="state" value="{{ if .SessionState }}stop{{ else }}start{{ end }}" class="d-none">
  <button class="btn btn-danger btn-large"{{ if .SessionState }} data-bs-toggle="modal" data-bs-target="#confirmStop">
    STOP{{ else }}>START{{ end }} SESSION
  </button>
</form>
<div class="p-2 mt-4">
  <h3>Add Members to this Selections Session</h3>
  <form method="post" action="/session/addMembers" onsubmit="formSubmit(event)">
    <div class="mb-3">
      <label for="membersSelect" class="control-label">Members</label>
      <input type="text" name="membersSelect" id="membersSelect" class="form-control"
             data-module="memberSelect">
    </div>
    <button class="btn btn-primary" type="submit">Add Members</button>
  </form>
</div>
{{ if .Attendance }}
  <div class="p-2 mt-4">
    <h3>Members currently selected:</h3>
      {{ range .Attendance }}
        <span class="badge align-items-center p-2 text-body bg-primary-subtle border border-primary-subtle">
                    {{.FullName}} ({{.Username}})
                    <a style="color: inherit; text-decoration: none" href="javascript:removeMember('{{.Username}}')"
                       tabindex="-1"
                       title="Remove">×
                    </a></span>
      {{ end }}
      {{ if not .SessionState }}
        <form class="mt-2" method="post" action="/session/createTeams" onsubmit="formSubmit(event)">
          <div class="mb-2 row">
            <div class="col-auto">
              <label class="col-form-label" for="teamCount">How many Teams?</label>
            </div>
            <div class="col-auto">
              <input class="form-control" id="teamCount" name="teamCount" type="number" min="1"
                     max="{{ .EBoard }}" value="{{ .EBoard }}">
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Create Teams</button>
        </form>
      {{ else }}
        <h4 class="mt-4 mb-1">Members In Queue</h4>
        <p class="my-1">These members will be added one-by-one to teams as they receive new applications.</p>
        {{ range .Unassigned }}
          <span class="badge align-items-center p-2 text-body bg-primary-subtle border border-primary-subtle">
                    {{.FullName}} ({{.Username}})
          </span>
        {{ end }}
      {{ end }}
  </div>
{{ end }}
<div class="p-2 mt-4">
  <h2>Teams</h2>
    {{ if .Teams }}
        {{ range .Teams }}
          <div class="card mt-2 mb-2">
            <div class="card-body">
              <h4 class="card-title">Team {{.ID}}</h4>
              <div class="row">
                  {{ range .Members }}
                    <div class="col-4 col-md-2">
                      <img src="https://profiles.csh.rit.edu/image/{{ .Username }}" class="rounded-circle"
                           width="60" height="60" style="display:block; margin: 20px auto 0;">
                      <div style="text-align:center">
                          {{ .Username }}
                      </div>
                    </div>
                  {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
    {{ else }}
      <span>There currently aren't any teams. Add some members to the session and then create teams!</span>
    {{ end }}
</div>
<div class="modal fade" id="confirmStop" tabindex="-1">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Stopping Selections Session</h5>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to stop this session?<br>
        This will delete <strong>ALL applications and teams</strong>.<br>
        Make sure you exported all scoring data first!
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-danger" onclick="submitSessionChange()">Stop Selections</button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js"></script>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
        integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
/>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
        integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>
<script>
    function removeMember(username) {
        let request = new XMLHttpRequest();
        request.open("POST", "removeMember", true);
        request.onload = function() { // request successful
            // we can use server response to our request now
            if (200 <= request.status && request.status <= 210) {
                location.reload();
            } else {
                console.log(request.responseText);
            }
        };

        request.send(JSON.stringify({ "member": username }));
    }

    let confirmed = false;

    function submitSessionChange() {
        let form = document.getElementById("stateForm");
        let request = new XMLHttpRequest();
        request.open(form.method, form.action, true);
        request.onload = function() { // request successful
            // we can use server response to our request now
            console.log(request.response);
            if (200 <= request.status && request.status <= 210) {
                location.reload();
            } else {
                console.log(request.responseText);
            }
        };

        request.send(new FormData(form));
    }

    function dummyFunc(event) {
        console.log("hi");
        if ({{ not .SessionState }}) {
            formSubmit(event);
        } else {
            event.preventDefault();
        }
    }
</script>

<script src="/static/js/sessionAutofill.js"></script>
{{ template "footer.tmpl" . }}