.card { 
	margin-bottom: 20px;
	background-color: #FFF
}

.img-circle {
	border-radius: 50%;
}

body {
	background-color: #eee;
	padding-top: 80px;
}

a:hover {
    text-decoration: none;
}

#results-table_wrapper {
    padding-right: 0;
    padding-left: 0;
}
